# Ignorar carpetas de entorno virtual
env/
.env/

# Ignorar archivos temporales y cachés
__pycache__/
*.pyc
*.py0
*.pyd

# Ignorar configuración oculta
.env

# Permitir solo ciertos tipos de archivos
!*.py
!*.keras
!*.txt
!*.json
!*.h5
!*.jpg
